.footer {
    background-color: #2f303a;
    padding: 60px 0;
}

.footer--container {
    text-align: center;

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        text-align: left;
    }
}

.logo__footer {
    display: block;
    margin-bottom: 28px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 20px;
    } 
}
 
.logo__part--secondary {
    color: var(--primary-color);
}

.adress-social-wrapper {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 165px;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        gap: 94px;
        margin-bottom: 0;
    }
}

.footer__wrapper--adress {
    margin-bottom: 60px;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }

}

.footer__wrapper--social {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.footer__wrapper--email {
    display: flex;
    flex-direction: column;
    justify-content: left;

    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}

.adress__list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: 1200px) {
        gap: 9px;
    }
}

.adress__link {
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color: var(--primary-color);

    @media screen and (min-width: 1200px) {
        line-height: 1.7;
        }
}

.adress__link-contact {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.social__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.social__link {
    background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--footer {
    fill: var(--primary-color);
}

.form__action {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}

.button__icon {
    fill: var(--primary-color);
    margin-left: 10px;
}

.form {
    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 12px;
        justify-content: flex-end;
    }

    &__input-fild {
       width: 100%;
       height: 100%;
       padding: 15px 16px;
       margin-bottom: 20px;

       outline: 1px solid transparent;
       outline-offset: -1px;
       border: 1px solid rgba(255, 255, 255, 0.3);
       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
       border-radius: 4px;
       background-color: transparent;
       transition: outline-color, color, var(--time) var(--cubic);

       &:focus {
           outline-color: var(--accent-color);
           color: var(--primary-color);
        }
    
       &:not(:placeholder-shown) {
           outline-color: var(--accent-color);
           color: var(--primary-color);
        }

        @media screen and (min-width: 768px) {
           width: 450px;
        }

        @media screen and (min-width: 1200px) {
           width: 357px;
           margin-bottom: 0;
        }
    }
}