<section class="benefits section">
  <div class="container">
    <h2 class="benefits__title visually__hidden">Hаші переваги</h2>
    <ul class="benefits__list list">
      <li class="benefits__item">
        <div class="benefits__icon-wrapper">
          <svg class="benefits__icon" width="70px" height="70px">
            <use href="./images/icon/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <h3 class="benefits__subtitle">УВАГА ДО ДЕТАЛЕЙ</h3>
        <p class="benefits__descripnion">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon-wrapper">
          <svg class="benefits__icon" width="70px" height="70px">
            <use href="./images/icon/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <h3 class="benefits__subtitle">ПУНКТУАЛЬНІСТЬ</h3>
        <p class="benefits__descripnion">
          Завдання організації, особливо рамки і місце навчання кадрів тягне у
          себе.
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon-wrapper">
          <svg class="benefits__icon" width="70px" height="70px">
            <use href="./images/icon/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="benefits__subtitle">ПЛАНУВАННЯ</h3>
        <p class="benefits__descripnion">
          Так само консультація з широким активом значною мірою зумовлює.
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon-wrapper">
          <svg class="benefits__icon" width="70px" height="70px">
            <use href="./images/icon/icons.svg#icon-diagram"></use>
          </svg>
        </div>
        <h3 class="benefits__subtitle">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
        <p class="benefits__descripnion">
          Значимість цих проблем настільки очевидна, що реалізація планових
          завдань.
        </p>
      </li>
    </ul>
  </div>
</section>
