<section class="case section">
  <h2 class="title">Чим ми займаємося</h2>
  <div class="container">
    <ul class="case__list list">
      <li class="case__item">
        <img
          class="case__img"
          srcset="
            ./images/case/img-1_lg@1x.jpg 1x,
            ./images/case/img-1_lg@2x.jpg 2x
          "
          src="./images/case/img-1_lg@1x.jpg"
          alt="написання коду"
          loading="lazy"
          width="370"
          height="294"
        />
        <div class="overlay">
          <h3 class="overlay__text">Десктопні додатки</h3>
        </div>
      </li>
      <li class="case__item">
        <img
          class="case__img"
          srcset="
            ./images/case/img-2_lg@1x.jpg 1x,
            ./images/case/img-2_lg@2x.jpg 2x
          "
          src="./images/case/img-2_lg@1x.jpg"
          alt="написання коду"
          loading="lazy"
          width="370"
          height="294"
        />
        <div class="overlay">
          <h3 class="overlay__text">Мобільні додатки</h3>
        </div>
      </li>
      <li class="case__item">
        <img
          class="case__img"
          srcset="
            ./images/case/img-3_lg@1x.jpg 1x,
            ./images/case/img-3_lg@2x.jpg 2x
          "
          src="./images/case/img-3_lg@1x.jpg"
          alt="написання коду"
          loading="lazy"
          width="370"
          height="294"
        />
        <div class="overlay">
          <h3 class="overlay__text">Дизайнерські рішення</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
