<footer class="footer" id="footer">
  <div class="footer--container container">
    <div class="adress-social-wrapper">
      <div class="footer__wrapper--adress">
        <a class="logo logo__footer link" href="./index.html"
          >Web<span class="logo__part logo__part--secondary">Studio</span>
        </a>
        <address class="adress font-style">
          <ul class="adress__list list">
            <li>
              <a
                href="https://goo.gl/maps/4REcuc9zafp4HzTA8"
                class="adress__link link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >м. Київ, пр-т Лесі Українки, 26</a
              >
            </li>
            <li>
              <a
                href="mailto:info@devstudio.com"
                class="adress__link-contact link"
                >info@devstudio.com</a
              >
            </li>
            <li>
              <a href="tel:380961111111" class="adress__link-contact link"
                >+38 096 111 11 11</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="footer__wrapper--social">
        <h2 class="social__title">приєднуйтесь</h2>
        <ul class="social list">
          <li class="social__item social-footer">
            <a
              class="social__link"
              href="https:/instagram.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram icon"
            >
              <svg class="social__icon--footer" width="20px" height="20px">
                <use href="./images/icon/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item social-footer">
            <a
              class="social__link"
              href="https:/twitter.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Twitter icon"
            >
              <svg class="social__icon--footer" width="20px" height="20px">
                <use href="./images/icon/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item social-footer">
            <a
              class="social__link"
              href="https:/faceboook.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook icon"
            >
              <svg class="social__icon--footer" width="20px" height="20px">
                <use href="./images/icon/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item social-footer">
            <a
              class="social__link"
              href="https:/linkedin.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Linkedin icon"
            >
              <svg class="social__icon--footer" width="20px" height="20px">
                <use href="./images/icon/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__wrapper--email">
      <strong class="form__action">Підпишіться на розсилку</strong>
      <form class="form">
        <label
          ><input
            class="form__input-fild"
            type="email"
            name="user_mail"
            placeholder="E-mail"
        /></label>
        <button class="button-primary footer-input-send" type="submit">
          Підписатися<svg class="button__icon" width="24" height="24">
            <use href="./images/icon/icons.svg#icon-send"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</footer>
