<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="" width="40" height="40">
      <use href="./images/icon/icons.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li>
      <a class="mobile-menu__link link mobile-menu__curent" href="./index.html"
        >Студія</a
      >
    </li>
    <li>
      <a class="mobile-menu__link link" href="">Портфоліо</a>
    </li>
    <li>
      <a class="mobile-menu__link link" href="">Контакти</a>
    </li>
  </ul>
  <ul class="mobile-menu__contact list">
    <li class="mobile-menu__item--contact">
      <a href="" class="mobile-menu__tell link">+38 096 111 11 11</a>
    </li>
    <li class="mobile-menu__item--contact">
      <a href="" class="mobile-menu__mail link">info@devstudio.com</a>
    </li>
  </ul>
  <ul class="mobile-menu__social list">
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link--social link">Instagram</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link--social link">Twitter</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link--social link">Facebook</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link--social link">LinkedIn</a>
    </li>
  </ul>
</div>
