<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__btn" data-modal-close>
      <svg class="modal__icon" width="11px" height="11px">
        <use href="./images/icon/icons.svg#icon-Vector"></use>
      </svg>
    </button>
    <strong class="modal__label">Залиште свої дані, ми вам передзвонимо</strong>
    <form class="modal__form" name="modal_form">
      <div class="form-group" role="group">
        <label class="form-group__label" for="user_name">Ім'я</label>
        <div class="form-group__wraper">
          <input class="form-group__fild" type="text" id="user_name" required />
          <svg class="form-group__icon" width="18" height="18">
            <use href="./images/icon/icons.svg#icon-person"></use>
          </svg>
        </div>
        <label class="form-group__label" for="user_phone">Телефон</label>
        <div class="form-group__wraper">
          <input class="form-group__fild" type="tel" id="user_phone" required />
          <svg class="form-group__icon" width="18" height="18">
            <use href="./images/icon/icons.svg#icon-phone"></use>
          </svg>
        </div>
        <label class="form-group__label" for="user_mail">Пошта</label>
        <div class="form-group__wraper">
          <input
            class="form-group__fild"
            type="email"
            id="user_mail"
            required
          />
          <svg class="form-group__icon" width="18" height="18">
            <use href="./images/icon/icons.svg#icon-email"></use>
          </svg>
        </div>
        <label class="form-group__label" for="user_message">Коментар</label>
        <textarea
          class="form-group__message"
          name="feedback"
          id="user_message"
          rows="7"
          placeholder="Введіть текст"
        ></textarea>
      </div>
      <div class="consent" role="group">
        <input
          class="consent__checkbox"
          type="checkbox"
          name="checkbox"
          id="user_consent"
          required
        />
        <label class="consent__desc" for="user_consent"
          >Погоджуюся з розсилкою та приймаю
          <a class="consent__link" href="">Умови договору</a></label
        >
      </div>
      <button class="modal-form-btn button-primary" type="submit">
        Відправити
      </button>
    </form>
  </div>
</div>
