<section class="team section">
  <div class="container">
    <h2 class="title">Наша команда</h2>
    <ul class="card list">
      <li class="card__item">
        <img
          class="card__img"
          srcset="
            ./images/team/img1_270@1x.jpg 270w,
            ./images/team/img1_354@1x.jpg 354w,
            ./images/team/img1_450@1x.jpg 450w,
            ./images/team/img1_270@2x.jpg 540w,
            ./images/team/img1_354@2x.jpg 708w,
            ./images/team/img1_450@2x.jpg 900w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          src="./images/team/img1_450@1x.jpg"
          alt="Ігор Дем'яненко"
          loading="lazy"
          width="450"
          height="460"
        />
        <div class="card__wrapper">
          <h3 class="card__title">Ігор Дем'яненко</h3>
          <p class="card__description" lang="en">Product Designer</p>
          <ul class="social list">
            <li class="social__item">
              <a
                class="social__link"
                href="https:/instagram.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Instagram"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/twitter.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Twitter"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/faceboook.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Facebook"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/linkedin.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Linkedin"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card__item">
        <img
          class="card__img"
          srcset="
            ./images/team/img2_270@1x.jpg 270w,
            ./images/team/img2_354@1x.jpg 354w,
            ./images/team/img2_450@1x.jpg 450w,
            ./images/team/img2_270@2x.jpg 540w,
            ./images/team/img2_354@2x.jpg 708w,
            ./images/team/img2_450@2x.jpg 900w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          src="./images/team/img2_450@1x.jpg"
          alt="Ольга Рєпіна"
          loading="lazy"
          width="450"
          height="460"
        />
        <div class="card__wrapper">
          <h3 class="card__title">Ольга Рєпіна</h3>
          <p class="card__description" lang="en">Frontend Developer</p>
          <ul class="social list">
            <li class="social__item">
              <a
                class="social__link"
                href="https:/instagram.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Instagram"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/twitter.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Twitter"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/faceboook.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Facebook"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/linkedin.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Linkedin"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card__item">
        <img
          class="card__img"
          srcset="
            ./images/team/img3_270@1x.jpg 270w,
            ./images/team/img3_354@1x.jpg 354w,
            ./images/team/img3_450@1x.jpg 450w,
            ./images/team/img3_270@2x.jpg 540w,
            ./images/team/img3_354@2x.jpg 708w,
            ./images/team/img3_450@2x.jpg 900w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          src="./images/team/img3_450@1x.jpg"
          alt="Микола Тарасов"
          loading="lazy"
          width="450"
          height="460"
        />
        <div class="card__wrapper">
          <h3 class="card__title">Микола Тарасов</h3>
          <p class="card__description" lang="en">Marketing</p>
          <ul class="social list">
            <li class="social__item">
              <a
                class="social__link"
                href="https:/instagram.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Instagram"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/twitter.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Twitter"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/faceboook.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Facebook"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/linkedin.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Linkedin"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="card__item">
        <img
          class="card__img"
          srcset="
            ./images/team/img4_270@1x.jpg 270w,
            ./images/team/img4_354@1x.jpg 354w,
            ./images/team/img4_450@1x.jpg 450w,
            ./images/team/img4_270@2x.jpg 540w,
            ./images/team/img4_354@2x.jpg 708w,
            ./images/team/img4_450@2x.jpg 900w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          src="./images/team/img4_450@1x.jpg"
          alt="Михайло Єрмаков"
          loading="lazy"
          width="450"
          height="460"
        />
        <div class="card__wrapper">
          <h3 class="card__title">Михайло Єрмаков</h3>
          <p class="card__description" lang="en">UI Designer</p>
          <ul class="social list">
            <li class="social__item">
              <a
                class="social__link"
                href="https:/instagram.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Instagram"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/twitter.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Twitter"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/faceboook.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Facebook"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https:/linkedin.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Іконка Linkedin"
              >
                <svg class="social__icon" width="20px" height="20px">
                  <use href="./images/icon/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
