
.backdrop {
    overflow-y: scroll;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;
    width: 98%;
    

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translateX(-50%) translateY(-45%);
    transition: transorm, opasity var(--time) var(--cubic), var(--time) var(--cubic);

    @media screen and (min-width: 480px) {
            width: 450px;
            height: 610px;
        }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
        }
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    padding: 0;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--time) var(--cubic);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        }
}


.modal__label {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.form-group {
    margin-bottom: 20px;
}

.form-group__label {
    display: flex;

    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.form-group__wraper {
    position: relative;
    margin-bottom: 10px;
}

.form-group__fild {
    width: 100%;
    height: 40px;

    padding-left: 42px;
    padding-right: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline var(--time) var(--cubic);

    &:focus {
        outline-color: var(--accent-color);
        }
}

.form-group__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill var(--time) var(--cubic);
}

.form-group__fild:focus+.form-group__icon {
    fill: var(--accent-color);
}

.form-group__message {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;

    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline var(--time) var(--cubic);

    &:focus {
        outline-color: var(--accent-color);
        }    
}

.consent {
    display: flex;
    
    justify-content: center;
    margin-bottom: 30px;

    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    @media screen and (min-width: 480px) {
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }


}

.consent__checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    margin-right: 8px;

    outline: 2px solid transparent;
    outline-offset: -2px;
    border: 2px solid #212121;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");

    transition: background-size, background-color, outline-color, var(--time) var(--cubic);
}


.consent__checkbox:checked {
    outline-color: var(--accent-color);
    background-color: var(--accent-color);
    background-size: 11px 8px;
}

.consent__desc {
    user-select: none;
}

.modal-form-btn {
    padding: 10px 52px;
}

.consent__link {
    color: var(--accent-color);
    text-underline-offset: 3px;
}